<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.env.easypatrol"
    android:installLocation="internalOnly"
    android:versionCode="75"
    android:versionName="1.7.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="8" />
    <!--
	<uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.nfc"  android:required="true" />   
    <uses-permission android:name="com.envmobile.permission.MAPS_RECEIVE" /> 
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!--
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

	<instrumentation 
	    android:name="android.test.InstrumentationTestRunner" 
	    android:targetPackage="com.envmobile"
		android:label="Test for my app">
	</instrumentation>
    -->
    <application
        android:name="com.env.component.PatrolApplication"
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:icon="@drawable/logo"
        android:label="@string/system_appname"
        android:persistent="true"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

<!-- 		<uses-library android:name="android.test.runner" />
 -->
        <activity
            
            android:name="com.env.activity.ActivitySplash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.env.activity.ActivitySplash" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/> 
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            
            <intent-filter>
    			<action android:name="android.nfc.action.TAG_DISCOVERED"/>
    			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
        </activity>

        <!-- 添加桌面快捷方式 -->
        <activity
            android:name="com.env.activity.ActivityShortCut"
            android:label="@string/system_appname" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <!-- 提示更新界面 -->
        <activity
            android:name="com.env.activity.UpdateSystem"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivity" >
        </activity>

        <!-- 登陆界面 -->
        <activity
            android:name="com.env.activity.ActivityLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- tabhost界面，已弃用 -->
        <activity
            android:name="com.env.activity.PatrolActivityMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 设置界面 -->
        <activity
            android:name="com.env.activity.ActivityConfig"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 数据管理界面 -->
        <activity
            android:name="com.env.activity.ActivityAdminData"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 配置项管理界面 -->
        <activity
            android:name="com.env.activity.ActivityAdminConfig"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 注册卡片界面，已弃用 -->
        <activity
            android:name="com.env.activity.ActivityRegisterCard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>

        <!-- 验证页面 -->
        <activity
            android:name="com.env.activity.ActivityApplication"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>

        <!-- 首次登陆欢迎界面界面 -->
        <activity
            android:name="com.env.activity.ActivityWelcome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 文本数字，多媒体任务填写界面 -->
        <activity
            android:name="com.env.activity.ActivityTaskAction"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 任务界面 -->
        <activity
            android:name="com.env.activity.ActivityTaskNFCCard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
        <!-- 任务列表界面 -->
        <activity
            android:name="com.env.activity.ActivityTaskList"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 图片预览界面-->
        <activity
            android:name="com.env.activity.ActivityPicturePreview"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 巡检措施 -->
        <activity
            android:name="com.env.activity.ActivityTaskSteps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
        <!-- 单选任务界面 -->
        <activity
            android:name="com.env.activity.ActivitySingleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- 多选任务界面 -->
        <activity
            android:name="com.env.activity.ActivityMultiTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- 数字任务界面 -->
        <activity
            android:name="com.env.activity.ActivityNumberTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 查看单个巡检项界面 -->
        <activity
            android:name="com.env.activity.ActivityTaskEachTag"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 查看单个巡检项历史数据的 webview -->
        <activity
            android:name="com.env.activity.ActivityEachTagWebView"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 查看 w巡检卡界面 -->
        
        <activity
            android:name="com.env.activity.ActivityTaskEachCard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!--扫描二维码-->
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 任务列表界面 -->
        <activity
            android:name="com.env.activity.ActivityTaskConstruction"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 开机启动，系统更新的receiver -->
        <receiver android:name="com.env.component.StartUpBroadCast" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="com.env.component.CustomBroadCast" />
            </intent-filter>
        </receiver>

        <!-- 桌面控件receiver -->
        <receiver android:name="com.env.widget.AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.env.component.AppWidget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>

        <!-- 主要的service -->
        <service
            android:name="com.env.component.DataService"
            android:exported="false" >
            <intent-filter android:priority="2147483647" >
                <action android:name="com.env.component.DataService" />
            </intent-filter>
        </service>

        <!-- 次要的service -->
        <service
            android:name="com.env.component.TaskService"
            android:exported="false" >
            <intent-filter android:priority="2147483647" >
                <action android:name="com.env.component.TaskService" />
            </intent-filter>
        </service>
    </application>

</manifest>